/*GENERAL CSS*/
body
{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-image: url("photos/skatepark2.jpg");
	background-attachment:fixed;
	background-color: lightgrey;
	font-family: "Arial", "Times New Roman", sans-serif;
}
@font-face 
{ 
    font-family: 'FFF_Tusj';
    src: url('css/FFF_Tusj.ttf');
}
p
{
	text-align:justify;
}
h1
{
	display: inline-block;
	color: gray;
	font: 30px 'FFF_Tusj', arial bold;
}
h2
{
	color:grey;
	font-weight: bold;
	font-style: italic;
}
h4
{
	color:grey;
	font-weight: bold;
	font-style: italic;
	background:rgb(0,165,244) none repeat scroll 0 0;
	font-size: 150%;
}
h5
{
	color:grey;
	font-weight: bold;
	font-style: italic;
	background:rgb(237,153,39) none repeat scroll 0 0;
	font-size: 150%;
}
img
{
	max-width: 100%;
    height: auto;
	vertical-align:middle;
}
a
{
	text-decoration: underline;
	color:black;
}
a:hover
{
	text-decoration: none;
	color:gray;
}
a:active
{
	background-color: black;
}
a:visited
{
	font-style: underline;
	color: black;
}
a:visited:hover
{
	text-decoration: none;
	color:gray;
}
a img
{
	border:0;
}
mark
{
	background-color: rgb(126,244,55);
	color: gray;
}
#pied-de-page
{
	border-top: 2px solid gray;
	background-color: whitesmoke;
	font-family: 'FFF_Tusj', arial;
	text-align: center;
	height:140px;
	width:100%;
	color: black;
	margin-top: 100px;
	padding:20px
}

#titre 
{
	color:grey;
	font-weight: bold;
	font-style: italic;
	font-size:180%;
	width: auto;
	text-align: center;
}
#conteneur
{
	padding-top:100px;
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
}
#corps
{
	border:2px groove gray;
	margin: 20px 30px;
	box-shadow: 6px 6px 6px black;
	background-color: whitesmoke;
	padding:20px 30px 20px 30px;
	width:70%;
}

#en_tete
{
	border-bottom: 2px solid gray;
	background-color: white;
	text-align: center;
	height:140px;
	width:100%;
	color: gray;
	padding-top: 5px;
	padding-left: 5px;
}
/*MENU*/
#menu, #menu ul /* Liste */     
{
  padding : 0; /* pas de marge int�rieure */
  margin : 0; /* ni ext�rieure */
  list-style : none; /* on supprime le style par d�faut de la liste */
  line-height : 21px; /* on d�finit une hauteur pour chaque �l�ment */
  text-align : center; /* on centre le texte qui se trouve dans la liste */
}
nav
{
	display: flex;
	justify-content:center;
}
#menu /* Ensemble du menu */
{
        font-weight : bold; /* on met le texte en gras */
        font-family : Arial; /* on utilise Arial, c'est plus beau ^^ */
        font-size : 16px; /* hauteur du texte : 16 pixels */
		position: flex;
		margin:auto;
}
#menu a /* Contenu des listes */
{
        display : block; /* on change le type d'�l�ment, les liens deviennent des balises de type block */
        padding : 0; /* aucune marge int�rieure */
        background : gray; /* couleur de fond */        
        color : #fff; /* couleur du texte */
        text-decoration : none; /* on supprime le style par d�faut des liens (la plupart du temps = soulign�) */
        width : 174px; /* largeur */
}
#menu li /* Elements des listes */      
{ 
        float : left; 
        /* pour IE qui ne reconna�t pas "transparent" */
        border-right : 1px solid #fff; /* on met une bordure blanche � droite de chaque �l�ment */
}
/* IE ne reconnaissant pas le s�lecteur ">" */
html>body #menu li
{
        border-right: 1px solid transparent ; /* on met une bordure transparente � droite de chaque �l�ment */
}
#menu li ul /* Sous-listes */
{ 
        position: absolute; /* Position absolue */
        width: 144px; /* Largeur des sous-listes */
        left: -999em; /* Hop, on envoie loin du champ de vision */
}
#menu li ul li /* �l�ments de sous-listes */
{
        /* pour IE qui ne reconna�t pas "transparent" (comme pr�c�demment) */
        border-top : 1px solid #fff; /* on met une bordure blanche en haut de chaque �l�ment d'une sous liste */
}
/* IE ne reconnaissant pas le s�lecteur ">" */
html>body #menu li ul li                
{
        border-top : 1px solid transparent; /* on met une bordure transparente en haut de chaque �l�ment */
}
#menu li ul ul 
{
        margin    : -22px 0 0 144px ; /* On d�cale les sous-sous-listes pour qu'elles ne soient pas au dessus des sous-listes */ 
        /* pour IE qui ne reconna�t pas "transparent" (comme pr�c�demment) */
        border-left     : 1px solid #fff ; /* Petite bordure � gauche pour ne pas coller ... */      
}
/* IE ne reconnaissant pas le s�lecteur ">" ... je me r�p�te ;-) */
html>body #menu li ul ul                
{
        border-left     : 1px solid transparent ; /* on met une bordure transparente sur la gauche de chaque �l�ment */
}
#menu a:hover /* Lorsque la souris passe sur un des liens */    
{
        color: #000; /* On passe le texte en noir... */
        background: #fff; /* ... et au contraire, le fond en blanc */
}
#menu li:hover ul ul, #menu li.sfhover ul ul /* Sous-sous-listes lorsque la souris passe sur un �l�ment de liste */
{
        left: -999em; /* On exp�die les sous-sous-listes hors du champ de vision */
}
#menu li:hover ul, #menu li li:hover ul, #menu li.sfhover ul, #menu li li.sfhover ul  /* Sous-listes lorsque la souris passe sur un �l�ment de liste ET sous-sous-lites lorsque la souris passe sur un �l�ment de sous-liste */
{
        left: auto; /* Repositionnement normal */
        min-height: 0; /* Corrige un bug sous IE */
}

/*MENU PRINCIPAL*/
#barmenuppal
{
	border:3px groove gray;
	background: whitesmoke;
	box-shadow: 6px 6px 6px black;
	width: 50%;
	min-width: 400px;
	padding: 20px;
	margin: 20px;
	height: 100%;
}
#barmenuppal ul li
{
	list-style: none;
	padding-bottom:20px;
}
#barmenuppal ul li .border
{
	border-bottom: 2px groove gray;
	padding-bottom:20px;
}
#barmenuppal ul li:last-child
{
	padding-bottom:0px;
}
#barmenuppal ul li:last-child .border
{
	padding-bottom:0px;
	border-bottom: 0px;
}
.border
{
	border-bottom: 2px groove gray;
	padding-bottom:20px;
}
#barmenuppal ul li .content
{
	padding-top:20px;
}
#barmenuppal ul li .content a
{
	display:inline-block;
	width: 40%;
	vertical-align: middle;
}
#barmenuppal ul li .content a img
{
	width: 100%;
}
#barmenuppal ul li .content p
{
	text-indent: 0px;
	padding-left:20px;
	width: 55%;
	display:inline-block;
	vertical-align:middle;
}
#lignemenu
{
	margin: 35px; 
	margin-left: auto;
	margin-right: auto;
	border-bottom:2px groove gray;
	width: 90%;
	text-align: center;
}
/*ARTICLE GENERAL*/
.titrePrincipal
{
	color:grey;
	font-family: 'FFF_Tusj';
	font-weight: bold;
	font-style: italic;
	font-size: 32px;
	padding:30px 0px;
	margin-top: 90px;
	text-align: center;
}
.titreSecond
{
	background: rgb(126, 244, 55) none repeat scroll 0 0;
  color: black;
  font-family: 'FFF_Tusj', arial;
  font-style: italic;
  font-weight: bold;
	font-size:24px;
	padding:5px 10px;
}
.titreSecond a
{
  color: black;
  line-height: auto;
  display:inline-block;
  width:100%;
	text-decoration: none;
	
	-webkit-transition: all 300ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
	-moz-transition: all 300ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
	-ms-transition: all 300ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
	-o-transition: all 300ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
	transition: all 300ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
}
.titreSecond a:hover, .titreSecond a:visited:hover
{
	text-decoration: none;
	color:gray;
}
.titreArticle
{
	color:grey;
	font-family: 'FFF_Tusj', arial;
	font-weight: bold;
	font-style: italic;
	font-size: 32px;
	padding:120px 0px 60px 60px;
}
.photoarticle
{
	float: left;
	display:inline-block;
	vertical-align: middle;
	margin-right:10px;
}
#corps ul li
{
	list-style: none;
	padding-bottom:20px;
}
#corps ul li .para_article
{
	padding-top:20px;
}
.para_article h3
{	
	color:grey;
	font-weight: bold;
	font-style: italic;
	font-size: 24px;
	text-decoration:underline;
	padding-bottom:20px;
}
#corps ul li .para_article h4
{
	color:grey;
	font-weight: bold;
	font-style: italic;
	background-color:rgb(237,153,39);
	font-size: 18px;
	margin-bottom:20px;
}
#corps ul li .para_article p
{
	text-indent: 20px;
	padding-top: 10px;
	margin-top:20px;
	display:block;
	vertical-align:middle;
}
#corps ul li .para_article ul.circle li
{
	list-style: circle;
	margin-left:20px;
}
.marque
{
	color:gray;
	font-size:20px;
	text-align: center;
}

/*ARTICLE ROLLER*/
.titrePrincipalRoller
{
	background: url("photos/route.jpg");
	font-family: 'FFF_Tusj', arial;
	color:rgb(237,153,39);
	text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
	font-weight: bold;
	font-style: italic;
	font-size: 32px;
	border: 2px groove grey;
	box-shadow: 6px 6px 6px black;
	text-align: center;
	width:70%;
	padding:20px 20px;
	margin-top:30px;
	-webkit-transform:skew(10deg);
	-moz-transform:skew(10deg);
	-o-transform:skew(10deg);
}
.titreSecondRoller
{
	background: rgb(237,153,39) none repeat scroll 0 0;
  color: black;
  font-family: 'FFF_Tusj', arial;
  font-style: italic;
  font-weight: bold;
	font-size:24px;
	padding:5px 10px;
}
#corps h3.titreSecondRoller 
{
	margin: 20px;
	text-align:center;
}
.titreSecondRoller a
{
  color: black;
  line-height: auto;
  display:inline-block;
  width:100%;
	text-decoration: none;
	
	-webkit-transition: all 300ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
	-moz-transition: all 300ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
	-ms-transition: all 300ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
	-o-transition: all 300ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
	transition: all 300ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
}
.titreSecondRoller a:hover, .titreSecondRoller a:visited:hover
{
	text-decoration: none;
	color:gray;
}
#introller 
{
	background-color:rgb(237,153,39);
	border:2px groove gray;
	box-shadow: 6px 6px 6px black;
	padding:20px;
	width:70%;
	margin-top: 30px;
}
#introller p
{
	text-indent: 20px;
	padding-top: 20px;
}
#introller h3
{
	color:black;
	font-weight: bold;
	font-style: italic;
	font-size: 24px;
	text-decoration:underline;
}
#introller img
{
	padding-top: 10px;
	padding-right: 20px;
}
/*ARTICLE TROTT*/
.titrePrincipalTrot
{
	background: url("photos/route.jpg");
	font-family: 'FFF_Tusj', arial;
	color: rgb(126,244,55);
	text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
	font-weight: bold;
	font-style: italic;
	font-size: 32px;
	border: 2px groove grey;
	box-shadow: 6px 6px 6px black;
	text-align: center;
	width:70%;
	padding:20px 20px;
	margin-top:30px;
	-webkit-transform:skew(10deg);
	-moz-transform:skew(10deg);
	-o-transform:skew(10deg);
}
.titreSecondTrot
{
	background: rgb(126,244,55) none repeat scroll 0 0;
  color: black;
  font-family: 'FFF_Tusj', arial;
  font-style: italic;
  font-weight: bold;
	font-size:24px;
	padding:5px 10px;
}
#corps h3.titreSecondTrot
{
	margin: 20px;
	text-align:center;
}
.titreSecondTrot a
{
  color: black;
  line-height: auto;
  display:inline-block;
  width:100%;
	text-decoration: none;
	-webkit-transition: all 300ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
	-moz-transition: all 300ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
	-ms-transition: all 300ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
	-o-transition: all 300ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
	transition: all 300ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
}
.titreSecondTrot a:hover, .titreSecondTrot a:visited:hover
{
	text-decoration: none;
	color:gray;
}
#introt
{
	background-color:rgb(126,244,55);
	border:2px groove gray;
	box-shadow: 6px 6px 6px black;
	padding:20px;
	width:70%;
	margin-top: 30px;
}
#introt p
{
	text-indent: 20px;
	padding-top: 20px;	
}
#introt h3
{
	color:black;
	font-weight: bold;
	font-style: italic;
	font-size: 24px;
	text-decoration:underline;
}
#introt img
{
	padding-top: 10px;
	padding-right: 20px;
}
/*ARTICLE SKATE*/
.titrePrincipalSkate
{
	background: url("photos/route.jpg");
	font-family: 'FFF_Tusj', arial;
	color: rgb(0,165,244);
	text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
	font-weight: bold;
	font-style: italic;
	font-size: 32px;
	border: 2px groove grey;
	box-shadow: 6px 6px 6px black;
	text-align: center;
	width:70%;
	padding:20px 20px;
	margin-top:30px;
	-webkit-transform:skew(10deg);
	-moz-transform:skew(10deg);
	-o-transform:skew(10deg);
}
.titreSecondSkate
{
	background: rgb(0,165,244) none repeat scroll 0 0;
  color: black;
  font-family: 'FFF_Tusj', arial;
  font-style: italic;
  font-weight: bold;
	font-size:24px;
	padding:5px 10px;
}
#corps h3.titreSecondSkate 
{
	margin: 20px;
	text-align:center;
}
.titreSecondSkate a
{
  color: black;
  line-height: auto;
  display:inline-block;
  width:100%;
	text-decoration: none;
	-webkit-transition: all 300ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
	-moz-transition: all 300ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
	-ms-transition: all 300ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
	-o-transition: all 300ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
	transition: all 300ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
}
.titreSecondSkate a:hover, .titreSecondSkate a:visited:hover
{
	text-decoration: none;
	color:gray;
}
#introskate
{	
	background-color:rgb(0,165,244);
	border:2px groove gray;
	box-shadow: 6px 6px 6px black;
	padding:20px;
	width:70%;
	margin-top: 30px
}
#introskate p
{
	text-indent: 20px;
	padding-top: 20px;
}
#introskate h3
{
	color:black;
	font-weight: bold;
	font-style: italic;
	font-size: 24px;
	text-decoration:underline;
}
#introskate img
{
	padding-top: 10px;
	padding-right: 20px;
}
/*VIDEOS*/

iframe.video-large
{
	display:block;
	max-width:100%;
	margin-left:auto;
	margin-right:auto;
}
 iframe.minivideo
{
	display:inline-block;
	width: 100%;
	min-height: 200px;
}
.logo-video
{
	display: block;
}

/*MENU VIDEO*/
#barmenuvideo
{
	border:3px groove gray;
	background: whitesmoke;
	box-shadow: 6px 6px 6px black;
	width: 30%;
	height: 40%;
	padding: 20px;
	margin: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
#fb-video
{
	display: inline-block;
	margin: 20px 10px;
}
/*HOVER JS*/
.photopage
{
	display:block;
	margin: auto;
} 
.photovideo
{
	display: block;
	margin:auto;
}
.roll {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	z-index: 10;	
	-webkit-box-shadow: 0px 0px 4px #000;
	-moz-box-shadow: 0px 0px 4px  #000;
	box-shadow: 0px 0px 4px  #000; 
}
.roll2 {
	position:absolute;
	top:0px;
	left:0px;
	width:154px;
	height:80px;
	z-index: 10;	
	-webkit-box-shadow: 0px 0px 4px #000;
	-moz-box-shadow: 0px 0px 4px  #000;
	box-shadow: 0px 0px 4px  #000; 
}
#icon-box
{
	display:flex;
	justify-content:center;
	width:50%;
	margin:auto;
	padding-top:20px;
}
.icon-roller-hover 
{	
	position:absolute;
	top:0px;
	left:0px;
	width:80px;
	height:80px;
	z-index: 10;	
	display:none;
}
.icon-trot-hover 
{
	position:absolute;
	top:0px;
	left:0px;
	width:80px;
	height:80px;
	z-index: 10;	
	display:none;
}
.icon-skate-hover 
{
	position:absolute;
	top:0px;
	left:0px;
	width:80px;
	height:80px;
	z-index: 10;	
	display:none;
}
.imagehover
{
	position:relative;
	width: 100%;
}
.iconhover
{
	position:relative;
	width: 80px;
	margin:10px;
}
li.video 
{
	padding-left:45px;
}
#lien-icone
{
	height:10px;
	text-align: center;
}
.lien-page
{
	text-align:right;
}
.like
{
	display: flex;
	margin-top:20px;
}
/*COMMENTAIRES*/
.commentaires
{
	display:block;
	margin: 20px 30px;
	padding:20px;
}
.commentaires h3
{
	font-size: 20px;
	color:gray;
	text-decoration:underline;
	margin: 20px 20px;
}
.commentaires li
{
	border-top: 0.5px solid gray;
	border-bottom: 0.5px solid gray;
	padding: 10px;
	background-color:#E3E7E8;
}
.commentaire-auteur
{
	color: #040A61;
}
.commentaire-date
{
	font: 0.8em italic;
	color:gray;
}
/*MEDIA QUERIES*/
@media screen and (max-width: 860px) 
{
	#barmenuppal
	{
		width: 80%;
	}
	#barmenuvideo
	{
		width: 80%;
		text-align: center;
	}
	iframe.minivideo
	{
		width: 100%;
		margin:auto;
		min-height: 300px;
	}
	img#barmenuvideo
	{
		display: block;
	}
	.video-box
	{
		width: 90%;
	}
	h3.titreSecond
	{
		font-size: 20px;
	}
	h3.titreSecondRoller
	{
		font-size: 20px;
	}
	h3.titreSecondSkate
	{
		font-size: 20px;
	}
	h3.titreSecondTrot
	{
		font-size: 20px;
	}
	#conteneur p
	{
		font-size:14px;
		font-family: arial;
	}
	#diapo2
	{
		display: none;
	}
	#menu a 
	{
		max-width: 140px;
	}
	#en_tete h1
	{
		font: 20px arial bold;
	}
	#pied-de-page
	{
		font: 20px arial bold;
	}
	.iconhover img
	{
		width: 60px;
		height: 60px;
	}
	img.photoarticle, #introller img
	{
		padding-right: 0px;
	}

}
@media screen and (max-width: 1100px) and (min-width: 860px)
{
	#fb-video
	{
		display: none;
	}
}
/*MEDIA QUERIES*/
@media screen and (max-width: 710px)
{
	#corps, #introller, #introskate, #introt
	{
		width: 85%;
	}
	#introt img, #introller img, #introskate img
	{
		padding-right: 0px;
	}
	#menu li ul /* Sous-listes */
	{
		display: none;
	}
	#menu a 
	{
		max-width: 100px;
	}
	#icon-box
	{
		width: 80%;
	}
	.video span, p#corps 
	{
		display: inline-block;
		width: 80%;
	}
	img.photoarticle
	{
		text-align: center;
		margin-right: 0px;
		padding-bottom: 10px;
		float: none;
		display: block;
		margin: auto;
	}
	img.roll2
	{
		display: none;
	}
	li.video 
	{
    padding-left: 0px;
    text-align: center;
	}
	iframe.video-large
	{
		max-height: 320px;
	}
}
/*MEDIA QUERIES*/
@media screen and (max-width: 510px)
{
	#conteneur
	{
		padding-top: 0px;
	}
	#menu
	{
		display: flex;
		flex-direction: column;
	}
	#menu li ul /* Sous-listes */
	{
		display: none;
	}
	#menu a 
	{
		max-width: 150px;
	}
	#barmenuppal
	{
		min-width: 300px;
	}
	#barmenuvideo
	{
		min-width: 300px;
		
	}
	iframe.minivideo
	{
		min-height: 150px;
	}
	#barmenuppal ul li .content a
	{
		width: 100%;
	}
	#barmenuppal ul li .content p
	{
		width: 100%;
		padding-left: 0px;
		padding-top: 10px;
	}
	#pied-de-page
	{
		min-height: 180px;
	}
	h1
	{
		width:80%;
	}
	.iconhover img
	{
		width: 40px;
		height: 40px;
	}
	#icon-box
	{
		width: 90%;
	}
	iframe.video-large
	{
		max-height: 180px;
	}
}